/*-------- Overordnede regler ------------*/

body {
    margin: 0px;
    background-color: white;
}

.sectionwrapper2 {
    flex-wrap: wrap;
    line-height: 1.8;
    margin: auto 0;
}

.sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    line-height: 1.8;
    margin: 10px 10%;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: grey;
}

.nexproject {
    width: 80%;
    bottom: 0px;
    position: absolute;
}

.nextproject a:link {
    text-decoration: none;
    text-align: center;
    font-size: 1.5em;
}

.video {
    line-height: 1.8;
    margin: 10px 10%;
}


/*-------- Overordnede regler SLUT ------------*/


/*-------- tekst ------------*/

h1 {
    margin: 20px;
    font-family: 'raleway', sans-serif;
    font-size: 1.2em;
}

h2 {
    font-family: 'poppins', sans-serif;
    font-size: 1.5em;
}

h3 {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Rubik', sans-serif;
    max-width: 600px;
}

li {
    font-family: 'Rubik', sans-serif;
}


/*-------- tekst SLUT ------------*/


/*-------- Header/menu ------------*/

header {
    background-color: white;
    max-height: 55px;
    border-bottom: 0.1px solid grey;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 25px;
    padding-top: 5%;
    width: 80%;
}

header nav {
    float: right;
    font-family: 'Rubik', sans-serif;
    margin: -5px 0 0 0;
    text-align: right;
    width: 300px;
    flex-basis: 240px;
}

header nav a {
    color: black;
    padding: .1em;
    margin-right: 10px;
    text-decoration: none;
    width: 300px;
}

header nav a:hover {
    color: grey;
}

header h1 {
    margin-bottom: -14px;
    width: 226px;
    flex-basis: 226px;
}


/*-------- Header/menu SLUT ------------*/


/*-------- Forside billede ------------*/

#splash {
    width: 80%;
    margin: 0 auto;
}

#splash img {
    width: 100%;
    margin: 0 auto;
    padding-top: 2.5vw;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#splash .logo {
    padding: 10px;
    width: 20vw;
    box-sizing: content-box;
}


/*-------- Forside billede SLUT ------------*/


/*-------- Kort tekst SLUT ------------*/

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    line-height: 1.8;
    margin: 10px 80px;
}

#om .column {
    margin: 40px;
    justify-content: center;
    line-height: 1.8;
    color: black;
    font-size: 18px
}

#om h2 {
    text-align: center;
    font-size: 3em;
}

#om p {
    text-align: center;
}


/*-------- Kort tekst SLUT ------------*/


/*--------  Projects ----------*/

#projects {
    background-color: white;
    margin: 70px;
}

#projects .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px;
}

.row img {
    border: 1px solid black;
}

#projects .column {
    flex-basis: 250px;
    padding: 10px;
    flex-grow: 1;
    min-width: 250px;
}

#projects img {
    width: 100%
}

#projects h2 {
    text-align: center;
    font-size: 2em;
}


/*--------Projects SLUT ----------*/


/*--------Hover projekter ----------*/

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}


/*--------Hover projekter SLUT ----------*/

@media screen and (max-width: 580px) {
    h1 {
        padding-bottom: 20px;
    }
}

@media screen and (min-width: 500px) {
    sectionwrapper2 {
        display: flex;
    }
}


/*--------footer start---------*/

#footer .sectionwrapper {
    width: calc(100% - 40px);
    background-color: black;
    padding: 20px;
    margin: 0;
    justify-content: center;
}

#footer .container {
    flex-basis: 300px;
    flex-grow: 0.2;
}

#footer ul {
    list-style-type: none;
    line-height: 1.8;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-align: center;
}

#footer h3 {
    color: white;
    font-family: 'Poppins', sans-serif;
    letter-spacing: 2px;
    text-align: center;
}

#footer img {
    width: 45px;
}

.test1 {
    margin-left: calc(50% - 60px);
}

.test {
    margin-left: 20px;
}


/*--------footer slut---------*/


/*-------- about -------*/

#about img {
    width: 40%;
}


/*-------- about SLUT -------*/


/*-------- stilartsite -------*/

#stilartsite img {
    width: 95%;
}

.ikon {
    width: 15%;
}


/*-------- stilartsite SLUT -------*/


/*-------- nybro apartments ------*/

#nybroapartments img {
    width: 80%;
}

.hs-responsive-embed-youtube {
    position: relative;
    padding-bottom: 46.35%;
    padding-top: 25px;
}

.hs-responsive-embed-youtube iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0 80 0 80;
}


/*------- nybro apartments slut ----*/


/*---------- CPH:DOX ----------*/


/*---------- CPH:DOX SLUT ----------*/


/*------- Egen Animation ------*/

#egenanimation img {
    width: 80%;
}

.spritesheet2 {
    width: 25%;
}


/*------- Egen Animation ------*/


/*----- Privat snak animation--*/

#privatsnak img {
    width: 65%;
}


/*-- Privat snak animation SLUT--*/


/*---------- KEA GO -----------*/

#keago img {
    width: 85%;
}


/*------- KEA GO SLUT ---------*/


/*------- Republikken ---------*/

#republikken img {
    width: 80%;
}


/*----- Republikken SLUT ------*/
